@import 'bootstrap';
@import 'variables';
@import 'partials/comics';
@import 'partials/header';
@import 'partials/body';
@import 'partials/cards';
@import 'partials/footer';
@import 'partials/comicsDetails.scss';



a{
    text-decoration: none;
}
.active{
    border-top: 4px solid $light;
    border-bottom: 4px solid $primary;
}